HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/
/gradlew.bat
/gradlew
/gradle/wrapper/gradle-wrapper.properties
/gradle/wrapper/gradle-wrapper.jar
/1_01_user_with_lombok.patch
/2_01_data_jpa.patch
/2_02_h2_init.patch
/2_03_model_query.patch
/3_01_jpa_data_rest.patch
/3_02_jackson.patch
/4_01_add_security.patch
/4_02_default_auth.patch
/4_03_javaconfig_encoding.patch
/4_04_db_security_auth_user.patch
/4_05_role_auth.patch
/4_06_basic_auth_fix.patch
/5_01_account_controller.patch
/5_02_error_handling.patch
/5_03_account_hateoas_paging.patch
/6_01_oas3_swagger.patch
/6_02_fix_update.patch
/6_03_add_tests.patch
/6_04_json_support.patch
/6_05_test_body_check.patch
/6_06_add_cache.patch
/6_07_update_cache.patch
